name: Build

on:
  push

env:
  SOLUTION_FILE_PATH: FramerateVigilante.sln 
  BUILD_CONFIGURATION: GTASA Release
  BUILD_PLATFORM: x86

jobs:
  build:
    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v3

    - name: Set up plugin sdk
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: git clone https://github.com/DK22Pac/plugin-sdk.git

    - name: Setup Windows 10 SDK Action
      uses: GuillaumeFalourd/setup-windows10-sdk-action@v2
      with:
        sdk-version: 18362

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Restore NuGet packages
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: nuget restore ${{env.SOLUTION_FILE_PATH}}

    - name: Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: msbuild /m /p:Configuration="${{env.BUILD_CONFIGURATION}}" /p:Platform="${{env.BUILD_PLATFORM}}" /p:useenv=true /p:Include=D:\a\FramerateVigilante\FramerateVigilante\plugin-sdk\shared ${{env.SOLUTION_FILE_PATH}}
